[data-button="add2calendar"] {
	background-color: #fff;
	border-radius: 3px;
	display: block;
	filter: grayscale(100%);
	margin: 5px;
	cursor: pointer;

	svg {
		width: 26px;
		height: auto;
		pointer-events: none;
	}

	&:hover,
	&:focus {
		filter: none;
	}
}