[data-button=add2calendar]{background-color:#fff;border-radius:3px;display:block;-webkit-filter:grayscale(100%);filter:grayscale(100%);margin:5px;cursor:pointer}[data-button=add2calendar] svg{width:26px;height:auto;pointer-events:none}[data-button=add2calendar]:focus,[data-button=add2calendar]:hover{-webkit-filter:none;filter:none}
/*# sourceMappingURL=app.css.map */